// GOV.UK Frontend components
$_font-family: system-ui, sans-serif;
$_accent_colour: #00403a;
@use "pkg:govuk-frontend/dist/govuk" with (
  $govuk-font-family: $_font-family,
  $govuk-brand-colour: $_accent_colour
);

// Use GOV.UK Eleventy Plugin
@use "pkg:@x-govuk/govuk-eleventy-plugin";

.govuk-pagination__item--current {
  background-color: $_accent_colour;
}

.govuk-link,
.govuk-link:visited {
  color: $_accent_colour;
}

.app-document-list__item {
  border-top-style: dashed;
  border-top-width: 2px;
}

.app-header__logotype {
  font-weight: bold;
}
